body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 73, 73);
    flex-direction: column;
}

.container{
    background-color: rgb(73, 73, 73);
    width: 50%;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.cabecalho{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 110%;
    margin-top: -10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

tr {
  display: block;
  border: none;
}

td {
  border: none;
  padding: 0;
}


.card {
  width: 200px;
  height: 350px;
  background: white;
  border: 2px solid #000000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card h2 {
  margin: 12px;
  font-size: 18px;
}

.card p {
  margin: 0 12px 12px;
  font-size: 14px;
  color: #3b3b3b;
}
