body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('contas.webp');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caixa {
  width: 400px;
  background: #ffffff;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.botao-limpar {
  width: 90px;
  height: 34px;
  background: #ff5a5f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1f2a44;
}

input {
  width: 100%;
  padding: 20px;
  margin-bottom: 14px;
  border: 1px solid #ccd5e5;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: large;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background: #444444;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


