* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #405926;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caixa {
  width: 400px;
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-top: -3px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  padding: 15px;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-size: 20px;
}

button {
  background: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.resultado {
  background: #cbcbcb;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
}

.resultado.maior {
  background: #d5fbe3;
  color: #0ea14c;
}

.resultado.igual {
  background: #faebc7;
  color: #8a6500;
}

.resultado.aviso {
  background: #fccece;
  color: #b32626;
}
